@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To </h1>
    <h1 class="display-4">Chruch's Movie App</h1>
    <p>We share a lot of churchs information and movies right here!come and see!<a href="https://www.churchofjesuschrist.org/?lang=eng">click me!</a>.</p>
</div>
